/* 整体设置 */
* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1536px;
    margin: auto;
}


/* 以下为最顶部搜索部分的设置 */
.left1 {
    height: 56px;
    background-color: pink;
    margin: 4px auto;
}

/* logo部分 */
.back-png {
    height: 56px;
    vertical-align: middle;
    margin-right: 20px;
    float: left;
}

/* 设置left1中若干元素的样式 */
/* .left1 */
a div {
    float: left;
    text-align: center;
    text-decoration: none;
    margin: 18px 20px 18px 0;
    color: white;
    vertical-align: middle;
    line-height: 20px;
    font-size: 14px;
    background-color: purple;
}

/* 首页 */
a .shouye {
    height: 20px;
    width: 43px;
}